#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}


.upload-btn {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border: 2px dashed #5a5a5a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #5a5a5a;
  text-align: center;
  transition: border-color 0.3s ease;
}

.upload-btn:hover {
  border-color: #666;
}

.upload-icon {
  font-size: 2em;
}

.btn-download {
  width: 100%;
  border: none;
  padding: 1em;
  border-radius: 1em;
  margin-top: 1em;
  background-color: #bd600a;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.exif-form {
  padding: 2em;
  background-color: white;
  color: #333;
  border-radius: 1em;
}

.exif-form > form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.exif-form > form > input {
  border: none;
  outline: dashed .2em #333;
  border-radius: 1em;
  padding: 1em;
}

.exif-form > form > input:focus-visible {
  outline: dashed .2em #bd600a;
}

canvas {
  width: 100%;
  height: auto;
}